---
import logo from "../../images/logo.svg";
import ConversionAnimatedSwitch from "../../components/ConversionAnimatedSwitch.astro";
import { Image } from "astro:assets";
import SecondaryButton from "../../components/SecondaryButton.astro";
import InstallButton from "../../components/InstallButton.astro";
---

<div class="sm:grid grid-cols-2 gap-x-6">
  <div class="relative">
    <div
      class="absolute w-full h-full top-0 left-0"
      style="background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 95%, rgba(255, 255, 255, 0) 110%);"
    >
    </div>
    <div class="isolate">
      <Image src={logo} alt="FFMPEG Logo" class="h-10 sm:h-12 w-auto ml-4" />
      <div class="px-3">
        <h1
          class="text-3xl sm:text-5xl max-w-lg font-display pt-7 sm:pb-4 pb-2 leading-[110%]"
        >
          The Swiss-Army-Knife for Video and Audio
        </h1>
        <p class="text-base sm:text-xl max-w-md text-gray-700">
          Transcode, Compress and Edit basically any audio or video file in the
          universe.
        </p>
        <div class="pt-7 sm:flex sm:space-x-6 space-y-3 sm:space-y-0">
          <InstallButton />

          <SecondaryButton href="#">Learn More</SecondaryButton>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center">
    <ConversionAnimatedSwitch />
  </div>
</div>
