---

import installTerminal from "../../images/install-terminal.svg";
import {Image} from "astro:assets";
import SecondaryButton from "../../components/SecondaryButton.astro";
import InstallButton from "../../components/InstallButton.astro";
---

<div class="container mx-auto px-4 max-w-6xl isolate">

<div class="grid sm:grid-cols-7 py-24">
    <div class="col-span-4">
        <h3 class="text-2xl sm:text-4xl font-display font-semibold pb-2">Install ffmpeg on every platform</h3>
        <p class="text-gray-700 py-2 max-w-lg">FFMpeg only proved the source code, but you can also install it via many package managers or download builds for your OS on the right side.</p>

        <p class="text-gray-700 py-2 max-w-lg">If you find FFmpeg useful, you are welcome to contribute by donating.</p>
        <div class="sm:flex space-y-5 sm:space-y-0 items-center space-x-5 sm:space-x-10 pt-4 pb-4 sm:pb-0">
            <SecondaryButton href="#">
                <div class="flex items-center space-x-3">
                    <svg class="w-5 -ml-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.25 7L20.55 9.3125C21.5162 10.285 22 10.7713 22 11.375C22 11.9787 21.5162 12.465 20.55 13.4375L18.25 15.75M5.75 7L3.45 9.3125C2.48375 10.285 2 10.7713 2 11.375C2 11.9787 2.48375 12.465 3.45 13.4375L5.75 15.75M15.125 2L8.875 22" stroke="currentColor" stroke-width="2.72727" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Get the Source Code</span>
                </div>
            </SecondaryButton>

            <a href="" class="text-gray-500 flex space-x-2 items-center">
                <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.20382 4.76471H7.94118V0.794118C7.94118 0.357353 7.58382 0 7.14706 0H3.97059C3.53382 0 3.17647 0.357353 3.17647 0.794118V4.76471H1.91382C1.20706 4.76471 0.849706 5.62235 1.35 6.12265L4.995 9.76765C5.30471 10.0774 5.805 10.0774 6.11471 9.76765L9.75971 6.12265C10.26 5.62235 9.91059 4.76471 9.20382 4.76471ZM0 12.7059C0 13.1426 0.357353 13.5 0.794118 13.5H10.3235C10.7603 13.5 11.1176 13.1426 11.1176 12.7059C11.1176 12.2691 10.7603 11.9118 10.3235 11.9118H0.794118C0.357353 11.9118 0 12.2691 0 12.7059Z" fill="#8C8C8C"/>
                </svg>
                <span>PGP Signing Key</span>
            </a>
        </div>
    </div>
    <div class="col-span-3">
        <Image src={installTerminal} alt="damn" class="w-full"/>
        <div class="flex sm:px-14 sm:-mt-12 space-x-6 justify-center">
            <InstallButton></InstallButton>
            <div class="rounded-full bg-white flex items-center justify-center shadow w-12 h-12">
                <svg class="w-5 -ml-0.5" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.9072 13.773V22.7398C21.9072 22.9828 21.8582 23.2232 21.7633 23.4469C21.6683 23.6705 21.5293 23.8727 21.3544 24.0415C21.1796 24.2102 20.9726 24.342 20.7457 24.429C20.5189 24.516 20.2768 24.5564 20.034 24.5479L19.8736 24.5346L11.0515 23.4321V13.773H21.9072ZM8.63916 13.773V23.1306L2.3091 22.3393C1.72555 22.2664 1.18874 21.9828 0.799585 21.5419C0.410429 21.101 0.195734 20.5331 0.195862 19.9451V13.773H8.63916ZM19.8736 0.599039C20.1147 0.56892 20.3593 0.587667 20.593 0.654161C20.8267 0.720654 21.0446 0.833532 21.2337 0.986062C21.4228 1.13859 21.5793 1.32765 21.6938 1.54195C21.8082 1.75626 21.8784 1.99142 21.9 2.23342L21.9072 2.39384V11.3606H11.0515V1.70149L19.8736 0.599039ZM8.63916 2.00304V11.3606H0.195862V5.18857C0.195734 4.60049 0.410429 4.03261 0.799585 3.5917C1.18874 3.15079 1.72555 2.86722 2.3091 2.7943L8.63916 2.00304Z" fill="#595959"/>
                </svg>

            </div>
            <div class="rounded-full bg-white flex items-center justify-center shadow w-12 h-12">
                <svg class="w-5 -ml-0.5" viewBox="0 0 25 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.7819 23.0944C23.6352 22.801 23.4885 22.5076 23.4885 22.2142C23.4885 21.6274 23.1951 21.1873 22.755 20.7472C22.6083 20.6005 22.3149 20.4538 22.1682 20.4538C23.0484 17.8132 21.7281 15.1725 20.261 13.2654C19.0874 11.505 17.327 10.1847 17.4737 7.83745C17.4737 5.05012 17.7671 -0.0844352 12.6326 0.355669C7.35132 0.649072 8.81833 6.07703 8.67163 7.98415C8.67163 9.59787 7.93812 11.2116 6.76451 12.5319C6.47111 12.8253 6.1777 13.2654 6.031 13.5588C4.56399 15.3192 3.83048 17.6664 3.83048 19.867C3.53708 20.1604 3.24367 20.4538 3.09697 20.7472C2.95027 20.8939 2.80357 21.0406 2.80357 21.1873C2.65687 21.334 2.36347 21.4807 2.07006 21.6274C1.48326 21.7741 1.04315 22.0675 0.749749 22.6543C0.603048 23.0944 0.456346 23.6812 0.603048 24.268C0.749749 24.5614 0.749749 24.8548 0.603048 25.2949C0.309645 25.8817 0.309645 26.6152 0.603048 27.3487C1.04315 27.9356 1.77666 28.0823 2.80357 28.229C3.53708 28.229 4.41729 28.5224 5.15079 28.8158C5.8843 29.2559 6.76451 29.5493 7.64472 29.5493C8.08482 29.5493 8.67163 29.4026 9.11173 29.2559C9.55184 28.9625 9.84524 28.6691 9.99194 28.229C10.5788 28.229 11.459 27.9356 12.4859 27.9356C13.3661 27.9356 14.2463 28.229 15.4199 28.0823C15.4199 28.229 15.4199 28.3757 15.5666 28.5224C15.86 29.2559 16.5935 29.8427 17.4737 29.9894H17.7671C18.9407 29.8427 20.1143 29.2559 20.8479 28.3757C21.4347 27.7889 22.1682 27.3487 22.9017 27.0553C23.7819 26.6152 24.3687 26.3218 24.5154 25.5883C24.6621 24.5614 24.3687 23.9746 23.7819 23.0944ZM13.6595 4.31661C14.5397 4.46331 15.2732 5.19682 15.1265 6.07703C15.1265 6.51713 14.9798 6.95724 14.6864 7.39734H14.5397C14.2463 7.25064 14.0996 7.25064 13.9529 7.10394C14.0996 6.95724 14.0996 6.66383 14.2463 6.37043C14.2463 5.78363 13.9529 5.34352 13.6595 5.34352C13.2194 5.34352 12.926 5.78363 12.926 6.37043V6.51713C12.7793 6.37043 12.4859 6.37043 12.3392 6.22373V6.07703C12.1925 5.34352 12.7793 4.46331 13.6595 4.31661ZM13.2194 7.25064C13.3661 7.39734 13.6595 7.54404 13.8062 7.54404C13.9529 7.54404 14.2463 7.69075 14.393 7.83745C14.6864 7.98415 14.9798 8.13085 14.9798 8.57095C14.9798 9.01106 14.5397 9.45116 13.6595 9.74457C13.3661 9.89127 13.2194 9.89127 13.0727 10.038C12.6326 10.3314 12.1925 10.4781 11.6057 10.4781C11.1656 10.4781 10.7255 10.1847 10.432 9.89127C10.2853 9.74457 10.1386 9.59787 9.84524 9.45116C9.69854 9.30446 9.40514 9.01106 9.25844 8.57095C9.25844 8.42425 9.40514 8.27755 9.55184 8.13085C9.99194 7.83745 10.1386 7.69075 10.2853 7.54404L10.432 7.39734C10.7255 6.95724 11.3123 6.66384 11.8991 6.66384C12.3392 6.81054 12.7793 6.95724 13.2194 7.25064ZM10.1386 4.61001C10.7255 4.61001 11.1656 5.19682 11.3123 6.22373V6.51713C11.1656 6.51713 10.8722 6.66384 10.7255 6.81054V6.51713C10.7255 6.07703 10.432 5.63692 10.1386 5.78363C9.84524 5.78363 9.69854 6.22373 9.69854 6.66384C9.69854 6.95724 9.84524 7.10394 9.99194 7.25064C9.99194 7.25064 9.84524 7.39734 9.69854 7.39734C9.40514 7.10394 9.11173 6.66383 9.11173 6.22373C9.11173 5.34352 9.55184 4.61001 10.1386 4.61001ZM8.67163 28.229C7.64472 28.6691 6.32441 28.5224 5.4442 27.9356C4.56399 27.4954 3.83048 27.3487 2.80357 27.3487C2.07006 27.202 1.33656 27.202 1.18985 26.9086C1.04315 26.6152 1.04315 26.1751 1.33656 25.4416C1.48326 25.0015 1.48326 24.5614 1.33656 24.1213C1.18985 23.6812 1.18985 23.3878 1.33656 22.9477C1.48326 22.5076 1.77666 22.3609 2.21676 22.2142C2.65687 22.0675 2.95027 21.9208 3.24367 21.6274C3.39038 21.4807 3.53708 21.334 3.68378 21.0406C4.12388 20.4538 4.41729 20.1604 4.85739 20.1604C5.7376 20.3071 6.47111 21.6274 7.05791 22.9477C7.35132 23.3878 7.64472 23.9746 8.08482 24.4147C8.67163 25.1482 9.40514 26.1751 9.40514 26.7619C9.40514 27.4954 9.11173 27.9356 8.67163 28.229ZM15.86 25.0015C15.86 25.1482 15.86 25.1482 15.7133 25.2949C13.9529 26.6152 11.6057 26.7619 9.69854 25.735L8.81833 24.4147C10.1386 24.268 9.84524 22.5076 7.05791 20.7472C4.12388 18.8401 6.1777 15.3192 7.20462 13.7055C7.35132 13.5588 7.35132 13.7055 6.76451 14.8791C6.32441 15.7593 5.4442 17.9599 6.61781 19.5736C6.61781 18.4 6.91121 17.2263 7.35132 16.0527C8.37823 14.1456 9.11174 11.9451 9.55184 9.74457C9.69854 9.89127 9.69854 9.89127 9.84524 9.89127C9.99194 10.038 10.1386 10.1847 10.2853 10.1847C10.5787 10.6248 11.1656 10.7715 11.6057 10.7715H11.7524C12.3392 10.7715 12.926 10.6248 13.3661 10.1847C13.5128 10.038 13.6595 9.89127 13.9529 9.89127C14.393 9.74457 14.8331 9.45116 15.2732 9.01106C15.86 10.9182 16.4468 12.6786 17.327 14.2923C17.9138 15.4659 18.3539 16.6395 18.6473 17.9599C19.0874 17.9599 19.6742 18.1066 20.1143 18.4C21.288 18.9868 21.7281 19.4269 21.5814 20.1604H21.288C21.288 19.7203 20.9946 19.2802 19.9676 18.8401C18.9407 18.4 18.0605 18.4 17.7671 19.4269C17.6204 19.4269 17.4737 19.5736 17.327 19.5736C16.1534 20.1604 16.1534 21.7741 16.0067 23.3878C16.1534 23.9746 16.0067 24.4147 15.86 25.0015ZM22.6083 25.8817C21.7281 26.1751 20.9946 26.7619 20.4078 27.4954C19.8209 28.3757 18.794 28.9625 17.6204 28.8158C17.0336 28.8158 16.4468 28.3757 16.3001 27.7889C16.1534 26.9086 16.1534 26.0284 16.5935 25.1482C16.7402 24.5614 16.8869 24.1213 17.0336 23.5345C17.1803 21.7741 17.1803 20.7472 17.9138 20.3071C17.9138 21.0406 18.3539 21.4807 18.9407 21.7741C19.6742 21.7741 20.4077 21.6274 20.9946 21.0406H21.288C21.7281 21.0406 22.0215 21.0406 22.3149 21.334C22.6083 21.6274 22.755 22.0675 22.755 22.3609C22.755 22.801 23.0484 23.2411 23.1951 23.6812C23.9286 24.4147 23.9286 24.8548 23.9286 25.0015C23.7819 25.2949 23.1951 25.5883 22.6083 25.8817ZM9.40514 8.27755C9.25844 8.27755 9.25844 8.27755 9.25844 8.42425C9.25844 8.42425 9.25844 8.57095 9.40514 8.57095C9.55184 8.57095 9.55184 8.71766 9.55184 8.71766C9.99194 9.30446 10.7255 9.59787 11.6057 9.74457C12.3392 9.59787 13.0727 9.45116 13.8062 8.86436L14.6864 8.42425C14.8331 8.42425 14.8331 8.27755 14.8331 8.27755C14.8331 8.13085 14.8331 8.13085 14.6864 8.13085C14.393 8.27755 13.9529 8.42425 13.6595 8.57095C13.0727 9.01106 12.3392 9.30446 11.6057 9.30446C10.8722 9.30446 10.2853 8.86436 9.84524 8.42425C9.69854 8.42425 9.55184 8.27755 9.40514 8.27755Z" fill="#595959"/>
                </svg>

            </div>
        </div>

    </div>
</div>
</div>
