<a href="#"
   class="bg-primary px-5 sm:px-6 py-2 sm:py-2.5 text-white transition hover:bg-secondary font-semibold text-lg sm:text-xl rounded-lg flex items-center space-x-2.5 shadow-md hover:shadow-lg">
    <svg class="w-5 -ml-1" viewBox="0 0 20 23" fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M18.5024 7.89076C18.3727 7.99141 16.0824 9.28197 16.0824 12.1516C16.0824 15.4708 18.9967 16.6451 19.084 16.6742C19.0705 16.7457 18.621 18.2823 17.5474 19.848C16.5901 21.2258 15.5903 22.6013 14.0694 22.6013C12.5484 22.6013 12.157 21.7178 10.4012 21.7178C8.69016 21.7178 8.08179 22.6304 6.69058 22.6304C5.29938 22.6304 4.32866 21.3555 3.21256 19.7898C1.91977 17.9513 0.875244 15.0951 0.875244 12.3842C0.875244 8.03615 3.70239 5.73014 6.48481 5.73014C7.96325 5.73014 9.19565 6.70086 10.1239 6.70086C11.0074 6.70086 12.3851 5.67199 14.0671 5.67199C14.7046 5.67199 16.9949 5.73014 18.5024 7.89076ZM13.2686 3.83121C13.9642 3.00588 14.4563 1.86071 14.4563 0.715531C14.4563 0.556728 14.4429 0.395687 14.4138 0.265961C13.282 0.308457 11.9356 1.01972 11.1237 1.96136C10.4862 2.68604 9.89126 3.83121 9.89126 4.99204C9.89126 5.1665 9.92033 5.34096 9.93375 5.39688C10.0053 5.4103 10.1216 5.42595 10.2379 5.42595C11.2534 5.42595 12.5305 4.74601 13.2686 3.83121Z"
              fill="white"/>
    </svg>
    <span>Install now</span>
</a>